<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<body>
{{{body}}}
</body>
<section id="description">
    <div class="info">
        <p>DISCOVER and CONNECT<br>with the housemates who will suit YOU BEST</p>
    </div>
</section>

<footer>
    <div class="end">
        <p>Queen's Housing Connect, Copyright &copy; 2017</p>
    </div>
</footer>



</body>
</html>