<title>Homepage</title>
<link rel="stylesheet" type="text/css" href="css/HomePage.css">
</head>
<body>

<header>
    <div class="container">
        <div id="name">
            <h1>Queen's <span class="emph">Housing Connect</span></h1>
        </div>
        <nav>
            <ul>
                <li><a href="/MyProfile">My Profile</a></li>
                <li><a href="/MyGroups">My Groups</a></li>
                <li><a href="/HousingResources">Housing Resources</a></li>
                <li><a href="   ">Search</a></li>
                <li><a href="/Home">Home</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="mid">
    <div class="container">

        <div class="about">
            <h1>Welcome to</h1><h1>Queen's Housing Connect</h1>
        </div>

    </div>
</section>